<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="info.cukes.editor.FeatureEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="feature"
            icon="icons/cucumber16x.png"
            id="info.cukes.editor.CucumberEditor"
            name="Cucumber Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.annotationModelCreation">
      <factory
            class="info.cukes.editor.annotation.CucumberAnnotationModelFactory"
            extensions="feature">
      </factory>
   </extension>
   <extension
         point="org.eclipse.jdt.core.codeFormatter">
      <codeFormatter
            class="info.cukes.editor.ide.codeFormatter1">
      </codeFormatter>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="info.cukes.editor.ide.command.format"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="info.cukes.editor.formatting.FormatHandler"
            id="info.cukes.editor.ide.command.format"
            name="Format">
      </command>
   </extension>

</plugin>
